<app-header></app-header>

<mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
  
        <form [formGroup]="estabelecimentolForm">
            <br><br>
            <h3>Atualização de Estabelecimento</h3>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" name="nome">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Endereço</mat-label>
                <input matInput formControlName="endereco" name="endereco">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="telefone" name="telefone">
            </mat-form-field>
            <br>
            <a href="/estabelecimento"><button mat-raised-button color="warn" type="button">Voltar</button></a>
            <button mat-raised-button (click)="updateEstabelecimento()" color="primary">Atualizar</button>
        </form>
    </mat-grid-tile>
</mat-grid-list>



