<app-header></app-header>

<form [formGroup]="estabelecimentoForm">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" name="nome">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco" name="endereco">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" name="telefone">
    </mat-form-field>
</form>

<a href="/estabelecimento"><button mat-button>Voltar</button></a>
<button mat-button (click)="storeEstabelecimento()">Salvar</button>