<app-header></app-header>

<mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
        <form [formGroup]="vinculoForm">
            <br><br>
            <h3>Formulário de Vínculo</h3>
            <br>
                <mat-form-field appearance="fill">
                <mat-label>Profissional</mat-label>
                <mat-select formControlName="id_profissional" name="id_profissional">
                    <mat-option *ngFor="let i of profissionais" [value]="i.id">
                        {{i.nome}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Estabelecimento</mat-label>
                <mat-select formControlName="id_estabelecimento" name="id_estabelecimento">
                    <mat-option *ngFor="let i of estabelecimentos" [value]="i.id">
                        {{i.nome}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
            <br>
            <a href="/vinculo"><button mat-raised-button color="warn" type="button">Voltar</button></a>
            <button mat-raised-button color="primary" (click)="storeVinculo()">Salvar</button>
        </form>
    </mat-grid-tile>
</mat-grid-list>