<app-header></app-header>
<a routerLink="/vinculo/form">
  <button mat-flat-button color="primary">Adicionar </button>
</a>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <ng-container matColumnDef="id_profissional">
      <th mat-header-cell *matHeaderCellDef> Profissional </th>
      <td mat-cell *matCellDef="let element" > {{element.id_profissional}} </td>
    </ng-container>
  
    <ng-container matColumnDef="id_estabelecimento">
      <th mat-header-cell *matHeaderCellDef> Estabelecimento </th>
      <td mat-cell *matCellDef="let element"> {{element.id_estabelecimento}} </td>
    </ng-container>

    <ng-container matColumnDef="opcoes">
      <th mat-header-cell *matHeaderCellDef> Opções </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/vinculo/edit',element.id]"> 
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </a>
        <button mat-icon-button color="warn" (click)="delete(element.id)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  